html, body {
   overflow-x: hidden;
}

body{
 	background-image: url('../img/bg.jpg');
}

.navbar{
	box-shadow: 5px 10px 10px 2px rgb(0,0,0,0.3);
	width: 100vw;
}

#logo{
	height: 7vw; 
	width: 15vw;
}

.nav-item{
	margin-right: 1vw;
	margin-left: 1vw;
}

.form-inline {
	margin-right: 1vw;
}

#img-container{
	box-shadow: 5px 10px 8px rgb(0,0,0, 0.7);
	height: 30vw; 
	width: 70vw; 
	margin-top: 20px; 
}

.carousel-indicators > li {
  	border-radius: 50%;
  	height: 15px;
  	width: 15px;
}

.carousel-item > img {
	height: 30vw;
	width: 70vw;
}

.carousel-caption {
	background-color: rgba(0,0,0,0.4);
	border-radius: 20px;
	margin: auto;
}

#about {
	width: 70vw;
	background-color: rgba(255, 255, 255, 0.4);
	height: 20vw;
	margin:50px;
	font-size: 1vw;
}

#about-head {
	padding: 10px;
	background-color: #0EBFE9; 
	color: white;
	margin-top: 10px; 
	width: 100%;
}

#pred-container1 {
	width: 70vw;
	background-color: rgba(255, 255, 255, 0.4);
}

#pred-container2 {
	margin: 50px; 
	padding: 20px; 
	width: 30vw;
}

#image-selector {
	size: 20vw;
}

#pred-head {
	font-weight: bold; 
	margin: 5px;
}

#selected-image-conatiner {
	border: 10px; 
	background-color: lightblue; width: 11vw; 
	height: 11vw; 
	border-radius: 5%;
}

#selected-image {
	height: 10vw; 
	width: 10vw; 
	margin: 0.5vw;
}

@media only screen and (max-width: 768px) {
 	body {
 		font-size: 2.5vw;
 	}

 	#logo {
		height: 10vw; 
		width: 20vw;
	}

	#image-selector, #predict-button, #selected-image {
		margin: 1vw;
	}

	#about {
		height: 70vw;
		font-size: 2.5vw;
	}
}